cffi
Cython
fastcdc
xxhash==2.0.0
sqlitedict
pyfuse3
asciitree
astroid
BTrees
click
click-default-group
codetiming
fasteners
humanize
importlib-metadata
isort
lazy-object-proxy
lz4
mccabe
monotonic
numcodecs
numpy
persistent
py-cpuinfo
pycodestyle
pycparser
pylint
six
toml
typed-ast
wrapt
zipp
zope.interface
psutil
python-decouple
zmq
pyyaml
black
pylint
wheel
pytest