xxhash==2.0.0
asciitree
astroid
blake3
BTrees
cffi
click
click-default-group
codetiming
colorama
Cython
fastcdc
fasteners
humanize
importlib-metadata
isort
lazy-object-proxy
lz4
mccabe
monotonic
numcodecs
numpy
persistent
py-cpuinfo
pycodestyle
pycparser
pylint
pywin32
six
toml
typed-ast
winfspy
WMI
wrapt
zipp
zope.interface
flask
flask_login
flask_migrate
flask_wtf
flask_sqlalchemy==2.*
email_validator
python-decouple
gunicorn